<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Search your WIPs</title>
</head>

<h1>Gabe's WIP Database</h1>
<body>
    <input type="text" id="search" placeholder="Enter search term">
    <button id="searchBtn" onclick="handleSearch()">Search</button>
    <div id="results"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
